{% extends "layout.html" %}

{% block title %}
Documentation
{% endblock %}

{% block main %}
<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 50);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("indexDiv").style.display = "block";
}
</script>

<body onload = "myFunction()" style = "width: 100%;">
    <div id = "loader"></div>
<div id = "indexDiv" class ="animate-bottom" style = "display:none;">

<body>
    <h1 style = "margin-top: 40px;">Table of contents</h1>
    <a href = "#index"><h6>Index</h6></a>
    <a href = "#lookup"><h6>Lookup</h6></a>
    <a href = "#markets"><h6>Markets</h6></a>
    <a href = "#watchlist"><h6>Watchlist</h6></a>
    <a href = "#tradelog"><h6>Log</h6></a>

    <h1  style = "margin-top: 50px;">Documentation on Finance 2.0</h1>

    <div id = "index">
        <a href = "/"><h2>Index</h2></a>
        <p>In index (Finance 2.0 on the navbar), you get a view of your portfolio. You get a view of your portfolio movement, amount you have in cash, and amount you have in equity. You also can see how the markets are performing as well. In order to make the website more efficient, the website is updated three times a day: once in the morning, once in the afternoon, and once in before closing. You can see when the positions have last been updated, and you are also given the option of forcing a price update.</p>
        <p>Below, you get a view of all your positions. If your stock is has a price change greater than .5% or less than .5%, it will color green or red accordingly. You can also see your cost basis, as well as your total return. If you click any one of these companies, you can get a more detailed view of each company.</p>
        <p>Below the positions table, once you update the positions through tradelog, you can see pie charts breaking down asset allocation. It graphs these by company, finnhub defined industries, and user defined style.</p>
        <p>On the very bottom, there is a table showing previous earnings and future earnings. This table will show earnings that have happened up to two weeks ago for companies you own, and it also shows earnings that will happen for your companies in two weeks.</p>
    </div>
    <div id = "lookup">
        <a href = "/stock"><h2>Lookup</h2></a>
        <p>Lookup will give you powerful insights into individual stocks. If you type in a supported ticker, you will be greeted with an interactive chart, company fundamental financials, target price (analyst low, median, mean, high), and news about the company</p>
        <p>The chart will let you chart technicals and also give you an overview of the company, such as the company's financial statements.</p>
        <p>Basic financials include 3 year revenue growth, 1 year revenue growth, company margins, debt/equity, average volume, and trading range.</p>
        <p>News for the company from months ago will be shown from a variety of sources.</p>
        <p>On the very bottom, click any of those logos to read more about these stocks on different websites.</p>
    </div>
    <div id = "markets">
        <a href = "/markets"><h2>Markets</h2></a>
        <p>The markets tab will give you more detailed about what's going on in the financial markets</p>
        <p>The first chart gives information about the broad inidices, commmodities, bond, and select forex pairs</p>
        <p>The second chart gives insight into the most active stocks, as well as the highest gainers and losers.</p>
        <p>Finally, news for the the broader economy is given at the bottom. Clicking "Read full article from ___" will direct you to the full article</p>
    </div>
    <div id = "watchlist">
        <a href = "/watchlist"><h2>Watchlist</h2></a>
        <p>Watchlist will give you tools to monitor stocks that you are interested in</p>
        <p>By default, you are assigned a default watchlist. You cannot delete this watchlist</p>
        <p>To add stocks, click add stock and then input a valid ticker. You will see an updated table with the ticker and chart. If you click the table or chart, you will be redirected to the stock's individual lookup page. If you click delete, the stock will be deleted from that watchlist.</p>
        <p>If you click add watchlist, you can create a blank watchlist. If you click delete watchlist, you will delete your current watchlist.</p>
    </div>
    <div id = "tradelog">
        <a href = "/tradelog"><h2>Tradelog</h2></a>
        <p>In tradelog, you can update your orders according to how they were executed by your broker </p>
        <p>Input the ticker, indicate whether you are buying the stock or selling it, indicate the quantity, indicate if you are adding any cash (positive value) or taking out any cash (indicated by negative value), the price that you got executed at for that order, and the style that this stock represents to you (can be any value).</p>
        <p>If the ticker you inputted is valid, it should show up in the table below indicating each order. If there is something you need to edit, click edit. On the edit tab, each box should tell you how you filled out your previous trade. Make the adjustments, and then click submit. To delete a trade, edit the previous trade such that the quantity is 0. If your portfolio value on the website does not match the actual, you can use the cash inflow/outflow to adjust.</p>
    </div>
</body>

</div>
</div>
<h6 style = "color: white;">Chart widgets by <a href = "https://www.tradingview.com/widget/" target = "_blank">Trading View</a></h6>
<h6 style = "color: white;">Real time quotes from <a href = "https://iexcloud.io/" target = "_blank">IEX</a></h6>
<h6 style = "color: white;">Financial data from <a href = "https://finnhub.io/" target = "_blank">Finnhub</a></h6>
</body>
{% endblock %}
